body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* #region Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.container {
  width: 1158px;
  padding: 24px 0;
  margin: 0 auto;
}

.nav {
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.item-text {
  font-weight: 500;
  color: #2e2f42;
}

.item-text:hover {
  color: #404bbf;
}

.item-text:focus {
  color: #404bbf;
}

.item-text:active {
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background: #404bbf;
}

.address {
  font-style: normal;
  margin: 0 auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: right;
  margin-left: auto;
}

.contacts-item {
}

.contacts-item:hover {
  color: #404bbf;
}

.contacts-item:focus {
  color: #404bbf;
}

.contacts-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-text:hover {
  color: #404bbf;
}

/* #endregion Header */

/* #region Main */

/* #region Hero */

.hero-container {
  background-color: #2e2f42;
  min-width: 1440px;
  height: 600px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
  display: block;
  width: 496px;
  margin: 0 auto;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 46px auto 188px auto;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

/* #endregion Hero */

/* #region Benefits */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  margin: 120px auto;
}

.benefits-item {
  width: 264px;
  height: 104px;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.benefits-text {
  letter-spacing: 0.02em;
  padding-top: 8px;
}

/* #endregion Benefits */

/* #region Our team */

.team {
  background-color: #f4f4fd;
  min-width: 1440px;
  height: 732px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 137px;
}

.team-list {
  display: flex;
  gap: 24px;
  padding-top: 72px;
}

.team-item {
  background-color: #ffffff;

  display: block;
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 380px;
}

.team-name {
  width: 232px;
  height: 56px;
  text-align: center;
  padding-top: 32px;
  margin: 0 auto;
}

.team-name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.team-name-prof {
  padding-top: 8px;
}

/* #endregion Our team */

/* #region Portfolio */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 137px;
}

.portfolio-list {
  gap: 24px;
  padding-top: 72px;
  padding-bottom: 120px;
}

.portfolio-list-part-one,
.portfolio-list-part-two {
  display: flex;
  gap: 24px;
  padding-top: 48px;
}

.portfolio-item {
  width: 360px;
  height: 420px;
}

.portfolio-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 360px;
  height: 120px;
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.portfolio-content-text {
  padding-top: 8px;
}

/* #endregion Portfolio */

/* #endregion Main */

/* #region Footer */

.footer {
  background-color: #2e2f42;
  min-width: 1440px;
  height: 312px;
}

.footer-container {
  padding-top: 100px;
  width: 264px;
  height: 112px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  padding-top: 16px;
}

/* #endregion Footer */
